name: Go CI/CD Pipeline

on:
  push:
    branches: ["main", "master"]
    paths-ignore:
      -   '**.md'
      -   'docs/**'
      -   'LICENSE'
  pull_request:
    branches: ["main", "master"]
    paths-ignore:
      -   '**.md'
      -   'docs/**'
      -   'LICENSE'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      -   name: Checkout code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
            path: .

      - name: Install Buf
        run: |
          curl -sSLf "https://github.com/bufbuild/buf/releases/latest/download/buf-$(uname | tr '[:upper:]' '[:lower:]')-x86_64" -o /usr/local/bin/buf
          chmod +x /usr/local/bin/buf
          buf --version

      -   name: Setup Go
          uses: actions/setup-go@v5
          with:
            go-version: '1.25'

      - name: Install protoc-gen-go and protoc-gen-go-grpc
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: Generate pb to pb_tmp
        run: chmod +x scripts/gen-proto.sh && make proto-gen

      - name: Compare generated pb to pb_tmp
        run: |
          if [ -d pb ]; then
           diff -ru pb pb_tmp || (echo "pb/ is out of date. Run make proto-gen and commit changes." && exit 1)
          else
           echo "No pb/ directory committed; expected pb/ to contain generated code." && exit 1
          fi

      -   name: Cache Go modules
          uses: actions/cache@v4
          with:
            path: ~/go/pkg/mod
            key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
            restore-keys: ${{ runner.os }}-go-

      -   name: Install dependencies
          run: go mod download

      -   name: Run Unit Tests, Filter and Collect Coverage
          run: |
            go test -v -covermode=atomic -coverprofile=coverage.tmp ./...
            grep -v 'internal/test' coverage.tmp > coverage.out
          working-directory: ./

      -   name: Print Coverage Summary
          uses: actions/upload-artifact@v4
          with:
            name: code-coverage-report
            path: coverage.out
            retention-days: 10
